body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: #282c34;
}

.form {
  width: 90%;
  max-width: 600px;
}

fieldset {
  padding: calc(20px + 2vmin);
}

.form-control {
  display: block;
  width: calc(100% - 20px);
  padding: 0.5em;
  margin-bottom: 25px;
  border-width: 2px;
  border-style: solid;
  font-size: 16px;
}

select,
button {
  width: 100% !important;
}

button.form-control {
  margin-bottom: 0;
  background-color: transparent;
  cursor: pointer;
}

button.form-control:hover {
  border-color: #282c34;
  background-color: #282c34;
  color: #fff;
}

.error {
  display: none;
  margin-top: -10px;
  font-size: 16px;
  line-height: 1;
  color: red;
}

.form-group.active.invalid .error,
.form.submitted .form-group.invalid .error {
  display: block;
}

.form-group.active.invalid .form-control,
.form.submitted .form-group.invalid .form-control {
  border: 2px solid red;
}

.form-values {
  width: 90%;
  max-width: 600px;
  margin-top: 1.5em;
}

.form-values p {
  margin: 0.5em 0;
  font-size: 20px;
}
